<!DOCTYPE html> 
<html>
<body>
  <br>
  <br>
    <div class="container">
<h4><u>ANTI-COUNTERFEITING POLICY:-</u></h4>
<p>The posting of counterfeit products on the Lummang Platform is strictly prohibited by Lummang Mercantile &amp; Services Pvt Ltd.
    (&quot;Platform&quot;, &quot;We&quot;, &quot;Lummang&quot;). Intended to sell products over the Platform (the &quot;Seller&quot;), either directly or on your behalf, by accessing,
    browsing, or otherwise using the Platform, or by using services that feature a product list. Those who are willing to accept and be held by
    them, as long as they follow the anti-counterfeiting policy to the letter. A product that has been counterfeited, duplicated, unlawfully
    created, duplicated, counterfeited, replicated to claim the original, or that may infringe on a third party&#39;s intellectual property rights is
    referred to as a &quot;counterfeit.&quot;</p>

  <p>Lummang maintains the right to remove, restrict, or limit offerings containing counterfeit products, as well as those that violate the
    Platform&#39;s Terms of Service and Product List Policy. Only after evaluating the transaction status of the brands they want to list on the
    platform may each seller on the platform publish information or listings. The seller, in this situation, produces invoices and other
    associated papers to confirm the authenticity of the products on the list and submit a notary&#39;s statement that the things on the list are
    genuine. It&#39;s possible that you&#39;ll be asked to do so. Genuine. Your list of vendors may be stopped or cancelled if you do not submit the
    required documentation within 72 hours. If you discover that the vendor&#39;s offer contains counterfeit goods, you have the option to take
    any action you want, including withholding or confiscating money from the seller, as well as any measures considered necessary. This is
    done without liability and without compromising the rights, legal remedies, or defenses of the Platform, all of which are expressly
    reserved by Lummang. Sellers offering such counterfeit goods may also be initiated by a third party right holder, independent of civil and
    criminal proceedings.</p>
<h4><u>IP-INFRINGEMENTS POLICY:-</u></h4>
  <ul>
    
  </ul>
 
    <h4><u>Procedure for Making Claims of Right Infringements:-</u></h4>
  <p>We regard third parties Mental Property Rights. On the off chance that your rights are being encroached, you inform us by E-mail. After
    getting mail the notice shape, we may take certain steps, such as informing you of encroaching substance or erasing data, without
    compromising your rights, cures, or resistances. All of these are marked with an asterisk (*). Third-party submissions should be noted that
    they are housed only on Lummang and are only published by third-party suppliers who can be contacted through the User Information
    page, which is available from any entry. Important Note: If you provide fraudulent, deceptive, or inaccurate information on the Lummang
    notification form, you may face civil and/or criminal prosecution. Please seek your legal counsel if you have any questions. You may submit
    the Notice by email if you believe that information on the Lummang is infringing on your rights.</p>
   
   <h3> E-mail us on: legal.compliance@Lummang.com</h3>

<h3>SUB :- Claims of Right Infringements</h3>
    </div>
</body>
</html>
 