#search{
    font-size:14px;
    
}
#category{
    font-size:14px;

}

header{
    margin-left: -70px ;
}
#nav{
    margin-right: -90px;
}
input{
    width: 50px;
}
#head{
  max-height: 15px;
  
}
#logo{
    
    width: 105px;
    height: 22px;
  
}
header{
    font-family: inter-regular;
    font-weight: bold;
}
#nav{
    font-size: 15px;
}
#logo1{ 
    height: 162px;
    margin-left: 40%;
    margin-top: -30px;
}
#logo2{
    max-height: 67px;
}
