<!DOCTYPE html>
<html lang="en">


    <header class="header  sticky-content fix-top sticky-header">
 
        <div>
        <div class="header-middle">
          
            <div class="container">
                <div class="header-left mr-md-4">
                    <a href="#" class="mobile-menu-toggle  w-icon-hamburger" aria-label="menu-toggle">
                    </a>
                    <a href="demo1.html" class="logo ml-lg-0">
                        <img  src="../../../assets/assets/images/IMG-20220322-WA0006.png" alt="logo" width="144" height="45" />
                    </a>
                  
                </div>
                <div class="header-right ml-4">
                    
                    <a class="wishlist label-down link d-xs-show" >
      
                      
                        
                      <div class="btn-wrap show-code-action">
                        <a href="aboutus" class="" id="aboutus">About us</a>
                    </div>
                    </a>
                    <a class="wishlist label-down link d-xs-show">
                        
                      <div class="btn-wrap show-code-action">
                        <a id="signin" href="signup" class="btn btn-rounded btn-large btn-outline btn-ellipse"><span id="text"> Sign In</span></a>
                    </div>
                  </a>
                   
                  <a class="wishlist label-down link d-xs-show" >
                        
                    <div class="btn-wrap show-code-action">
                      <a id="getapp" href="#" class="btn btn-rounded btn-large btn-outline btn-ellipse"><span id="text">Get the App</span><span></span></a>
                  </div>
                </a>
                 
                </div>
            </div>
        </div>
        <!-- End of Header Middle -->
      </div>
      
      
        
      </header>
      
      <div class="mobile-menu-wrapper">
        <div class="mobile-menu-overlay"></div>
        <!-- End of .mobile-menu-overlay -->
      
        <a href="#" class="mobile-menu-close"><i class="close-icon"></i></a>
        <!-- End of .mobile-menu-close -->
      
        <div class="mobile-menu-container scrollable">
          
            <!-- End of Search Form -->
          
            <div class="tab-content">
                <div class="tab-pane active" id="main-menu">
                    <ul class="mobile-menu">
                        <li><a href="aboutus">About us</a></li>
                        <li><a href="signup">Sign in</a></li>
                        <li><a href="#">Get the App</a></li>
                        
                       
                    </ul>
                </div>
               
            </div>
        </div>
      </div>
<body class="about-us">
    <div class="page-wrapper">
        <!-- Start of Header -->
     

        <!-- Start of Main -->
        <main class="main">
            <!-- Start of Page Header -->
            <div class="page-header" style="background-color: #3734a9;">
                <div class="container">
                    <h1 class="page-title mb-0" style="color: white;">Welcome to Lummang !</h1>

                    <a><i fas-fa-home></i></a>
                    
                </div>
            </div>
            <!-- End of Page Header -->

            <!-- Start of Breadcrumb -->
           
            <!-- End of Breadcrumb -->
            
            <!-- Start of Page Content -->
            <div class="page-content">
                <div class="container">
                  

                </div>

                <section class="boost-section ">
                    <div class="container mt-10 mb-9">
                        <div class="row align-items-center mb-10">
                            <div class="col-md-6 mb-8">
                                <figure class="br-lg">
                                    <img src="../../../assets/assets/images/AboutUs.gif" id="banner" alt="Banner"
                                         style="background-color: #9E9DA2;" />
                                </figure>
                            </div>
                            <div class="col-md-6 pl-lg-8 mb-8">
                                <h4 class="title text-left">About Us</h4>
                                <p class="mb-3">The Lummang provides complete trade assist for micro, small and medium institutions underneath the make in India initiative.</p>
                                <p>We provide Complete product assistance is available virtually and physically to create a transparent ecosystem with our clients. We delivery all products to your door on time to saves you time, energy, and money.  Customized guidance is available for sales and marketing of every category of products to give support and help at every step. The latest, trendy fashion and designs keep our customers apart from the rest of the business competitors and give them a unique identity. </p>
                                <p>Through our Platform, client can be confident in taking the initiative because of the low investment, discount offers, wholesale price, and many payment methods, including pay later and Service. The government has given the Make in India initiative a boost to flourish our small & medium size manufacturers. Lummang, on the other hand, strives to give a global platform for our local manufacturers. We are providing a platform for quality items from local manufacture to gain exposure within India, as well as sell their items at a low cost across the country with complete payment security and transparency. So, regardless of their origin, region, or financial status, everyone has a chance. We'll be there for you every step of the way, and beyond.</p>
                              
                            </div>
                        </div>

                      
                    </div>
                </section>

               
            </div>
        </main>
        <!-- End of Main -->

      
    </div>

   
    
    <!-- Start of Scroll Top -->
    <a id="scroll-top" class="scroll-top" href="#top" title="Top" role="button"> <i class="w-icon-angle-up"></i> <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70"> <circle id="progress-indicator" fill="transparent" stroke="#000000" stroke-miterlimit="10" cx="35" cy="35" r="34" style="stroke-dasharray: 16.4198, 400;"></circle> </svg> </a>
    <!-- End of Scroll Top -->

    
<app-footer></app-footer>
   
</body>
</html>