<footer class="footer" style="background-color:#DCDCDC;" >
    
    <div class="container" >
       
        <div class="footer-bottom">
            <div class="footer-left">
                <p class="copyright">Copyright © 2022 Lummang. All Rights Reserved.</p>
            </div>
            <div class="footer-right">
                <img src="../../assets/assets/images/shield.png">
                <span class="payment-label mr-lg-8">
                    <h3>SECURE PAYMENTS</h3></span> 
               
            </div>

            <div class="footer-right">
                <img src="../../assets/assets/images/product (1).png">
                <span class="payment-label mr-lg-8">
                    <h3>GENUINE PRODUCTS</h3>
                
            </span> 
                   
            </div>
        </div>  
    </div>
</footer>