
.shop-default-banner{
    height: 678px;
}
.banner-title{
    height: 140px;
width: 625px;
left: 239px;
top: 150px;
border-radius: undefinedpx;
font-family: Manrope;
font-size: 38px;
font-weight: 800;
line-height: 70px;
letter-spacing: -0.03em;
text-align: center;

}