<html>
    <body>
        <div class="container">
        <h2 style="text-align: center;">PRODUCT LISTING POLICY</h2>
        <h4><u>GENERAL TERMS</u></h4>
        <p>You may not use Lummang Platform to post or sell any content that is restricted or forbidden by Indian federal, state, or municipal law. Unless Lummang expressly permits it in writing, posting any content or listing any item below is completely banned. This list, on the other hand, is not intended to be complete or Indicative. Lummang has decided to prevent the uploading of items that are not restricted or prohibited by law but are still contentious, such as:</p>
        <p>a. Items that encourage illegal activities (e.g., lock pick tools, synthetic urine for cheating drug tests); b. Items that are racially, religiously, or ethnically derogatory, or that promote hatred, violence, or racial or religious intolerance; c. Giveaways, lotteries, raffles, or contests; d. Stocks, bonds, investment interests, and other securities; e. Pornographic materials or sexually explicit items.</p>
        <p>Lummang reserves the right to impose additional restrictions and prohibitions.</p>
        <h4><u>SPECIFICALLY PROHIBITED AND CONTROLLED ITEMS</u></h4>
        <h5>I.	DRUGS AND DRUG PARAPHERNALIA</h5>
        <ul>
            <li>Lummang prohibits the listing or sale of narcotics, psychotropic medications, natural drugs, synthetic drugs, steroids, and any drugs or substances whose sale is forbidden by any other legislation in force in India.</li>
            <li>Drug paraphernalia, which includes all objects principally intended or designed for use in the manufacture, concealment, or use of a restricted substance.</li>
            <li>The listing or sale of packaging materials that could be used to contain controlled substances, materials conducive to smuggling, storing, trafficking, transporting, and manufacturing illicit drugs (e.g. marijuana grow lights), and publications and other media that provide information about illicit drug production.</li>
        </ul>
        <h5>II.	EXPLOSIVE, HAZARDOUS CHEMICALS AND FIREARMS</h5>
        <ul>
            <li>The storage of explosives, as well as associated igniting and detonation equipment.</li>
            <li>Toxic and dangerous chemicals, including radioactive substances.</li>
            <li>The advertisement, sale, or purchase of hazardous or dangerous materials.</li>
            <li>Substances that deplete the ozone layer are not allowed to be included.</li>
            <li>Fireworks, firecrackers, and related products are prohibited from being listed. An exception can be made if the User is properly licensed to sell these products.</li>
            <li>Any service, instruction, process, or aid for the production of biological, chemical, or nuclear weapons, or other WMDs, or known related agents.</li>
            <li>The advertisement, sale, or acquisition of any armaments, military ordnance, weapons (including explosive weapons), and/or any related parts and components (whether integral or otherwise).</li>
            <li>Advertising, selling, or offering to buy weapons that can incapacitate or cause serious bodily injury to others (e.g. stun guns, batons, etc.). </li>
        </ul>
        <h5>III.	GOVERNMENT, LAW ENFORCEMENT AND MILITARY ISSUED ITEMS</h5>
        <p>Following items are not permitted to be listed:</p>
        <ul>
            <li>Articles of clothing or identification that purport to be official government uniforms or appear to be comparable to them.</li>
            <li>Law enforcement badges or equipment issued by any public authority, including badges issued by any country's government.</li>
            <li>Military decorations, medals, and awards, as well as goods with a design that is essentially similar.</li>
            <li>Police uniforms, insignia, and patrol vehicles There are some police items that may be listed on the Lummang, provided they observe the following guidelines:</li>
            <li>Certified common souvenir items that do not resemble badges, and paperweights that do not include badges. </li>
            <li>Obviously a badge that is neither genuine nor official. </li>
            <li>A historic badge that does not resemble a modern law enforcement badge if the item description clearly indicates that it is a historic piece.</li>
            <li> All official, internal, confidential, or private documents.</li>
            <li>List of police equipment and related products </li>
            <li>ADULT AND OBSCENE MATERIALS</li>
            <p>The posting or sale of pornographic materials.Items depicting or suggestive of bestiality, rape sex, incest or sex with graphic violence or degradation, and any items depicting or suggestive of sex involving minors, are strictly prohibited.</p>

        </ul>
        <h5>IV.	COLLECTIONS, ARTIFACTS AND PRECIOUS METALS</h5>
        <ul>
            <li>Lummang is a currency, coin, banknote, stock, bond, money order, credit card, debit card, investment interest, digital or non-significant form of currency (such as crypto currency), and devices and materials used for manufacturing.</li>
            <li>Buying and selling is strictly prohibited. Such an item. </li>
            <li>Forged identified items, fiat currencies, and stamps.</li>
            <li>Coin reproductions or replicas as collector's items must be clearly marked with the words "copy", "reproduction", or "replica" and comply with local law.</li>
            <li>Coarse diamonds and "conflict minerals" from non-compliant countries. </li>
            <li>Artifacts, cultural relics, historic tombstones, and related items are protected by Indian law. </li>
        </ul>
        <h5>V.	OFFENSIVE MATERIAL AND INFORMATION DETRIMENTAL TO NATIONAL SECURITY</h5>
        <ul>
            <li>Any publication or other media containing state secrets or information detrimental to national security or public order</li>
            <li>Any information supporting or advocating infringement of national sovereignty, terrorist organizations or discrimination on grounds of race, sex, or religion.</li>
            <li>Postings that are ethnically or racially offensive.</li>
            <li>Materials advocating, promoting or otherwise supporting fascism, Nazism and other extreme ideologies</li>
            
        </ul>
        <h5>VI.	TOBACCO PRODUCTS</h5>
        <ul>
            <li>The posting of tobacco products, including but not limited to cigars, cigarettes, cigarette tobacco, pipe tobacco, hookah tobacco, chewing tobacco and tobacco leaf is prohibited.</li>
        </ul>
    </div>
    </body>
</html>