<header class="header  sticky-content fix-top sticky-header">
 
  <div>
  <div class="header-middle">
    
      <div class="container">
          <div class="header-left mr-md-4">
              <a href="#" class="mobile-menu-toggle  w-icon-hamburger" aria-label="menu-toggle">
              </a>
              <a href="demo1.html" class="logo ml-lg-0">
                  <img  src="../../../assets/assets/images/IMG-20220322-WA0006.png" alt="logo" width="144" height="45" />
              </a>
            
          </div>
          <div class="header-right ml-4">
              
              <a class="wishlist label-down link d-xs-show" >

                
                  
                <div class="btn-wrap show-code-action">
                  <a href="aboutus" class="" id="aboutus">About us</a>
              </div>
              </a>
              <a class="wishlist label-down link d-xs-show">
                  
                <div class="btn-wrap show-code-action">
                  <a id="signin" href="signup" class="btn btn-rounded btn-large btn-outline btn-ellipse"><span id="text"> Sign In</span></a>
              </div>
            </a>
             
            <a class="wishlist label-down link d-xs-show" >
                  
              <div class="btn-wrap show-code-action">
                <a id="getapp" href="#" class="btn btn-rounded btn-large btn-outline btn-ellipse"><span id="text">Get the App</span><span></span></a>
            </div>
          </a>
           
          </div>
      </div>
  </div>
  <!-- End of Header Middle -->
</div>


  
</header>

<div class="mobile-menu-wrapper">
  <div class="mobile-menu-overlay"></div>
  <!-- End of .mobile-menu-overlay -->

  <a href="#" class="mobile-menu-close"><i class="close-icon"></i></a>
  <!-- End of .mobile-menu-close -->

  <div class="mobile-menu-container scrollable">
    
      <!-- End of Search Form -->
     
      <div class="tab-content">
          <div class="tab-pane active" id="main-menu">
              <ul class="mobile-menu"> 
                  <li><a href="aboutus">About us</a></li>
                  <li><a href="signup">Sign in</a></li>
                  <li><a href="#">Get the App</a></li>
                  
                 
              </ul>
          </div>
         
      </div>
  </div>
</div>
<main class="main">
  <section class=" intro-section">
    <div  style="background-color: #F6FCFF;">
      <div> 
          <div>
          <div class="shop-default-banner ">
          <h4 class="banner-subtitle font-weight-bold">The Most <span class="tw"></span><br>
           B2B Market Place For MSME
          Business Owners. 
          </h4>
          <a href="signup" class="btn  btn-rounded btn-icon-right" id="button" ><a id="register">Register Now<img id="img" src="../../../assets/assets/images/White Arrow (1).gif" ></a></a>  
          <img id="img1" class="image-fluid" src="../../../assets/assets/images/marketgif.gif">
         
          </div>
          
      </div>
     
    </div>        
  </div> 
  </section>
  <!-- End of .intro-section -->
  
</main>

<main class="main">
  <section class="intro-section2"  >

 
<div  class="wolmart-sellers pb-10"  >
  <div class="mt-0 mb-lg-10 mb-2 mb-lg-9">
    <div class="page-wrapper" >
      <!-- Start of Header -->
    


      <main class="main" >
         

          <div class="page-content become-a-vendor">
             
              <!-- End of Create Store -->

              <!-- End of How Trade -->


              <!-- End of Container -->

              <div class=" pt-lg-10 wolmart-sellers pb-10"  >
                  <div>
                      <div class="row" >
                          <div class=" col-lg-6 mb-4 mb-lg-0" >
                            <button id="button1">
                               <h3 id="buttoncontent">Start with Lummang in  3 simple steps</h3>
                   
                           </button>
                          </div>
                           
                          <section class="element-section text-center mt-10 mb-10 pt-5 pb-2" id="section-elements">
                            <div class="container" style="background: #F5F5F5;
                            ">
                               
                          
                                <div class="row elements cols-xl-5 cols-lg-4 cols-md-3 cols-xs-2 cols-1">
                                    <div class="mb-4" >
                                        <a href="element-accordions.html" target="blank" class="element">
                                            
                                            <img src="../../../assets/assets/images/01 (1).gif">
                                        </a>
                                        <h5 id="steps">STEP 1</h5>
                                        <h2 id="head">Create an account</h2>
                                        <p id="paragraph">Click on register now button to create an account.</p>
                                    </div>
                                    <div class="mb-4">
                                          
                                          <hr style="border-top: dashed 1px; margin-top: 84px;"/>
                                       
                                    </div>
                                    <div class="mb-4" id="cate">
                                        <a href="element-blog-posts.html" target="blank" class="element">
                                          
                                          <img src="../../../assets/assets/images/01 (2).gif">
                                        </a>
                                        <h5 id="steps">STEP 2</h5>
                                        <h2 id="head">Upload shop KYC</h2>
                                        <p id="paragraph">Upload the Store's KYC Documents to validate the business.
                                          (GST Number, Udyam Certificate, Shop photos).</p>
                                    </div>
                                    <div class="mb-4" >
                                          
                                      <hr style="border-top: dashed 1px; margin-top: 84px;"/>
                                   
                                </div>
                                    <div class="mb-4" id="cate">
                                        <a href="element-cta.html" target="blank" class="element">
                                         
                                          <img src="../../../assets/assets/images/01 (3).gif">
                                        </a>
                                        <h5 id="steps">STEP 3</h5>
                                        <h2 id="head" >Ready to place order</h2>
                                        <p id="paragraph">Once your account is created, get ready to place your first order.</p>
                                    </div>
                                    
                                   
                                </div>
                            </div>
                          </section>

                         
                      </div>
                  </div>
                  <!-- End of Container -->
              </div>
              <!-- End of Wolamrt Sellers -->

            
          </div>
          <!-- End of Page Content -->
      </main>
      <!-- End of Main -->

      <!-- Start of Footer -->
   
      <!-- End of Footer -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Start of Sticky Footer -->

  <!-- End of Sticky Footer -->
  
 

  <!-- Start of Mobile Menu -->
 
  <!-- End of Mobile Menu -->

  </div>
  <!-- End of Container -->
</div>
   
  </section>
  <!-- End of .intro-section -->
  
</main>

<main class="main">
  <section class="intro-section3"  style="background-image:  url(../../../assets/assets/images/Vector\ 332\ \(1\).png)
  , url(../../../assets/assets/images/Vector\ 333.png) ;background-repeat: no-repeat , no-repeat;background-size:989px,100%; background-position:  top,bottom;  " >

 

<div  class="wolmart-sellers pb-10" >
  <div class="mt-0 mb-lg-10 mb-2 mb-lg-9">
    <div class="page-wrapper"  > 
      <!-- Start of Header -->
    


      <main class="main" >
          <!-- Start of Page Header -->
          
          <!-- End of Page Header -->

          <!-- Start of Breadcrumb -->
        
          <!-- End of Breadcrumb -->

          <div class="page-content become-a-vendor">
             
              <!-- End of Create Store -->

              <!-- End of How Trade -->


              <!-- End of Container -->

              <div class=" pt-lg-10 wolmart-sellers pb-10"   >
                  <div >
                      <div class="row" id="slider" style="margin-top: 78px;">
                          <div class="col-lg-4 mb-4 mb-lg-0">
                           
                            <button  id="button2">
                               <h3 id="buttoncontent1" >We cater to multiple product categories</h3>



                              
                   
                           </button>
                          </div>
                          <!-- End of Col -->
                          <div class="col-lg-8">
                              <owl-carousel-o [options]="customOptions">
                                  <ng-template carouselSlide>
                                      <div class="card" id="categories">
                                          <div style="background: #E8F5FF;
                                          ; border-top-left-radius: 67px;">
                                          <img id="categoryimage" src="../../../assets/assets/images/Vector (7).png" class="card-img-top" alt="...">
                                         </div>
                                          <div class="card-body">
                                            <h5 class="card-title" id="card-title">Clothing</h5>
                                            <p class="card-text" id="card-text">Men's Wear, Women's Wear, 
                                              KID's Wear, Festive Wear, Ethnic & Western Wear ..</p>
                                         
                                          </div>
                                        </div>
                                  </ng-template>  
                                  <ng-template carouselSlide>
                                      <div class="card" id="categories">
                                          <div style="background: #FFFCD9;
                                          ; border-top-left-radius: 67px;">
                                          <img id="categoryimage" src="../../../assets/assets/images/noun-cosmetics-1933936 2.png" class="card-img-top" alt="...">
                                         </div>
                                          <div class="card-body">
                                            <h5 class="card-title" id="card-title">Cosmetics</h5>
                                            <p class="card-text" id="card-text">Lipstick, Makeup, Lip, Color Lip, Shade Lip, Beauty, Beauty, Colorlip Shade</p>
                                          </div>
                                      </div>
                                     
                                  </ng-template>  
                                  <ng-template carouselSlide>
                                      <div class="card" id="categories">
                                          <div style="background: #E8FFF2;border-top-left-radius: 67px;
                                          ">
                                          <img id="categoryimage" src="../../../assets/assets/images/noun-necklace-3526326 1.png" class="card-img-top" alt="...">
                                         </div>
                                          <div class="card-body">
                                            <h5 class="card-title" id="card-title">Fashion Jewellery</h5>
                                            <p class="card-text" id="card-text">Fashion, Necklace, Jewellery, Pendant, Fashion Accessory..</p>
                                         
                                          </div>
                                        </div>
                                  </ng-template>  
                                  <ng-template carouselSlide>
                                      <div class="card" id="categories">
                                          <div style="background: #FFEEF1;
                                          ;border-top-left-radius: 67px;">
                                          <img id="categoryimage" src="../../../assets/assets/images/noun-stationery-1728883 2.png" class="card-img-top" alt="...">
                                      </div>
                                          <div class="card-body">
                                            <h5 class="card-title" id="card-title">Stationery</h5>
                                            <p class="card-text" id="card-text">Pencil, Ruler, Stationery, Paints, Offices, Pen, Crayon, Paint Brush..</p>
                                          </div>
                                          
                                        </div>
                                  </ng-template>  
                                  <ng-template carouselSlide>
                                      <div class="card" id="categories">
                                          <div style="background: #FFEDFF;
                                          border-top-left-radius: 67px;">
                                          <img id="categoryimage" src="../../../assets/assets/images/noun-doll-2246609 3.png" class="card-img-top" alt="...">
                                      </div>
                                          <div class="card-body">
                                            <h5 class="card-title" id="card-title">Toys & Games </h5>
                                           
                                            <p class="card-text" id="card-text">Soft Toys,Puzzles,
                                              Learning & Education,Dolls & Accessories</p>
                                          </div>
                                         
                                        </div>
                                       
                                  </ng-template> 
                                  
                                </owl-carousel-o>
                                    </div>
                          <!-- End of Col -->
                      </div>
                  </div>
                  <!-- End of Container -->
              </div>
              <!-- End of Wolamrt Sellers -->

            
          </div>
          <!-- End of Page Content -->
      </main>
      <!-- End of Main -->

      <!-- Start of Footer -->
   
      <!-- End of Footer -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Start of Sticky Footer -->

  <!-- End of Sticky Footer -->
  
 

  <!-- Start of Mobile Menu -->
 
  <!-- End of Mobile Menu -->

  </div>
  <!-- End of Container -->
</div>
   
  </section>
  <!-- End of .intro-section -->
  
</main>

<main class="main">
  <section class="intro-section4" style="background: #E5E5E5;
  ;
  
   background-image:  url(../../../assets/assets/images/Vector.png),
   url(../../../assets/assets/images/Vector\ 332\ \(3\).png);  ; 
  background-repeat: no-repeat;background-size: 100%; ">

 
<div  class="wolmart-sellers pb-10"  >
  <div class="mt-0 mb-lg-10 mb-2 mb-lg-9">
    <div class="page-wrapper" >
      <!-- Start of Header -->
    


      <main class="main" >
         

          <div class="page-content become-a-vendor">
             
              <!-- End of Create Store -->

              <!-- End of How Trade -->


              <!-- End of Container -->

              <div class=" pt-lg-10 wolmart-sellers pb-10"  >
                  <div >
                      <div class="row" id="slider">
                          <div class=" col-lg-6 mb-4 mb-lg-0" >
                            <button id="button3"  style="color: #D7EFFE;
                            border-width: 14px; border-left: none;  " >
                               <h3 

                            id="buttoncontent3"  >Use Lummang for the best
retail shopping experience</h3>
                   
                           </button>
                           
                          </div>
                            
                         

                          <!-- End of Col -->
                          <div class="col-lg-5">
                            <div class="row row-cols-1 row-cols-md-2 g-4">
                              <div class="col" >
                                <div class="card " id="card2">
                                  <img id="image" src="../../../assets/assets/images/Vector (1).png" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title text-uppercase" id="cardhead">Best quality assurance</h5>
                                    <p class="card-text">
                                      All our products are made in India. 
make in India initiative enables us to bring
quality products at wholesale pricing to your doorstep. Quality assured products
are available with offers, coupons, and discount options.
                                    </p>
                                  </div>
                                </div>
                              </div> 
                              <div class="col">
                                <div class="card " id="card2">
                                  <img id="img2" src="../../../assets/assets/images/noun-delivery-1112266 3.png" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title text-uppercase" id="cardhead">fast order delivery at your doorstep</h5>
                                    <p class="card-text">
                                      It is always good to promote and support local manufacturers for the business. Due to our local manufacturers, Lummang can ensure timely, fast delivery service of the best quality products of your choice.
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="card" id="card2">
                                  <img id="img2" src="../../../assets/assets/images/noun-return-3918382 3.png" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title text-uppercase" id="cardhead">Easy and hassLE free return</h5>
                                    <p class="card-text">
                                      Place your order and relax. Lummang return services are completely hassle-free; if you do not like the product, place the request for a return. Our team will
coordinate with you for a smooth return and refund process.
                                      </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="card" id="card2">
                                  <img id="img2" src="../../../assets/assets/images/noun-investment-1168346 5.png" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title text-uppercase" id="cardhead">LOW FUNDING & EXCESSIVE GO BACK</h5>
                                    <p class="card-text">
                                      Lummang is a super possibility for everyone looking
                                      for low funding business aid to grow. We trust in developing collectively, so
                                      Lummang presents a surroundings for women's  empowerment. Join Lummang
                                      to convey out the entrepreneur inside you.
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="card " id="card2">
                                  <img id="img2" src="../../../assets/assets/images/noun-marketing-4739861 3.png" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title text-uppercase" id="cardhead">marketing consultation from experts</h5>
                                    <p class="card-text">
                                      We have a crew of specialists to support and manual store owners for the duration of the manner of promoting. Our team offers an entire advertising and
                                      marketing method manual for the products to imbibe the confidence and
                                      luxury of our shop owners.            </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="card" id="card2">
                                  <img  id="img2" src="../../../assets/assets/images/noun-reverse-708992 2.png" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title text-uppercase" id="cardhead">Pay later facility</h5>
                                    <p class="card-text">
                                      Lummang makes it very easy by giving multiple payment options for every
order. Our team believes that money should not be a constraint in your growth. We have pay later and credit facilities to promote the best interest of all our shop owners.
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- End of Col -->
                      </div>
                  </div>
                  <!-- End of Container -->
              </div>
              <!-- End of Wolamrt Sellers -->

            
          </div>
          <!-- End of Page Content -->
      </main>
      <!-- End of Main -->

      <!-- Start of Footer -->
   
      <!-- End of Footer -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Start of Sticky Footer -->

  <!-- End of Sticky Footer -->
  
 

  <!-- Start of Mobile Menu -->
 
  <!-- End of Mobile Menu -->

  </div>
  <!-- End of Container -->
</div>
   
  </section>
  <!-- End of .intro-section -->
  
</main>

<footer class="footer appear-animate" data-animation-options="{
  'name': 'fadeIn'
}">
<div style="background-color: #E5E5E5;">
  <section id="footer-newsletter" style="
        
  background-image:  url(../../../assets/assets/images/Vector\ \(5\).png) ; 
 background-repeat: no-repeat; ">
 <div class="footer-newsletter pt-6 pb-6" 
    >
    <div class="container">
      <div id="shop-default-banner" class="shop-default-banner banner d-flex align-items-center mb-5 br-xs" style="background-image: url('../../../assets/assets/images/Group\ 1000000879\ \(1\).png'); ">
        <div class="banner-content">
            
            <h3 id="imagetitle" class="banner-title text-white  font-weight-bolder ls-normal" >Free Register as a Lummang Supplier & Buyer</h3>
            
        </div>
    </div>
      </div>
    </div>
    <div class="footer-newsletter pt-6 pb-6" id="newsletter "
    >
        <div class="container" id="footerbanner">
  
 
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-5 col-lg-6">
                    <div class="icon-box icon-box-side text-white">
                        <div class="icon-box-icon d-inline-flex">
                            
                        </div>
                        <div class="icon-box-content">
                          <img  id="ecplice3"  src="../../../assets/assets/images/Ellipse 56 (1).png">
                          <img id="ecplice4" src="../../../assets/assets/images/Ellipse 55 (1).png">
                            <h4 id="footerbannercontent" class="icon-box-title text-white  mb-0"
                            >Download our app now
                              on Google Playstore</h4>
                              
                           </div>
                           </div>
                   
                  <br>
                  
                    <button class="btngetstarted" id="btngetstarted" routerLink="signup" ><a id="getstarted">Get Started<img id="img" src="../../../assets/assets/images/White Arrow (1).gif" ></a></button>
                  
                     <a id="download" class="btn " style="background: #000000; border-radius: 47px;color: white;
                     "><img id="icon" src="../../../assets/assets/images/Icon.png"><span id="button7">Download App</span></a> 
                     
            
               
                    
             
                     
                    
                </div>
                <div class="col-xl-7 col-lg-6 col-md-9 mt-4 mt-lg-0 ">
                    <form action="#" method="get" class="input-wrapper input-wrapper-inline input-wrapper-rounded">
                        
                            <figure id="phone">
                              <img  src="../../../assets/assets/images/Group 1000000878.png" >
                             </figure>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </section>
</div>
 <app-footer></app-footer>
</footer>
<a id="scroll-top" class="scroll-top" href="#top" title="Top" role="button"> <i class="w-icon-angle-up"></i> <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70"> <circle id="progress-indicator" fill="transparent" stroke="#000000" stroke-miterlimit="10" cx="35" cy="35" r="34" style="stroke-dasharray: 16.4198, 400;"></circle> </svg> </a>
<!-- End of Scroll Top -->