<body class="my-account">
    <div class="page-wrapper">
        <!-- Start of Header -->

        <!-- Start of Main -->
        <main class="main">
            <div class="page-content pt-2">
                <div class="container">
                    <div class="tab tab-vertical row gutter-lg">
                        <ul class="nav nav-tabs mb-6" role="tablist">
                            <li>
                                <div class="dropdown user-pro-body text-center">
                                    <div class="user-pic">
                                        <i style="font-size: 43px;" class="w-icon-user"></i>
                                    </div>
                                    <p class="greeting">
                                        Hello,
                                        <span class="text-dark font-weight-bold">{{customer.companyownername}}</span>
                                    </p>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="#account-dashboard" class="nav-link active" id="center"> Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/productlisting1" class="nav-link" id="center"> Add Product</a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/allitem" class="nav-link" id="center"> All Items</a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/sellerorder" class="nav-link" id="center">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a href="#account-addresses" class="nav-link" id="center"> My Profile</a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/home" class="nav-link" id="center">Home</a>
                            </li>
                            <li class="nav-item">
                                <a (click)="logout()" style="cursor: pointer" class="nav-link" id="center">Logout</a>
                            </li>
                        </ul>

                        <div class="tab-content mb-6">
                            <div class="tab-pane active in" id="account-dashboard">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mb-4">
                                        <a href="/productlisting1" class="link-to-tab">
                                            <div class="icon-box text-center">
                                                <span class="icon-box-icon icon-account">
                                                    <i class="w-icon-plus"></i>
                                                </span>
                                                <div class="icon-box-content">
                                                    <p class="text-uppercase mb-0">Add Product</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mb-4">
                                        <a href="/allitem" class="link-to-tab">
                                            <div class="icon-box text-center">
                                                <span class="icon-box-icon icon-orders">
                                                    <i class="w-icon-tshirt"></i>
                                                </span>
                                                <div class="icon-box-content">
                                                    <p class="text-uppercase mb-0">All Items</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mb-4">
                                        <a routerLink="/sellerorder" class="link-to-tab">
                                            <div class="icon-box text-center">
                                                <span class="icon-box-icon icon-download">
                                                    <i class="w-icon-orders"></i>
                                                </span>
                                                <div class="icon-box-content">
                                                    <p class="text-uppercase mb-0">Orders</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mb-4">
                                        <a href="#account-addresses" class="link-to-tab">
                                            <div class="icon-box text-center">
                                                <span class="icon-box-icon icon-address">
                                                    <i class="w-icon-user"></i>
                                                </span>
                                                <div class="icon-box-content">
                                                    <p class="text-uppercase mb-0">My Profile</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane" id="account-downloads">
                                <div class="icon-box icon-box-side icon-box-light">
                                    <span class="icon-box-icon icon-downloads mr-2">
                                    </span>
                                </div>
                            </div>

                            <div class="tab-pane" id="account-addresses">
                                <div class="icon-box icon-box-side icon-box-light">
                                    <div class="icon-box-content">
                                        <h4 class="icon-box-title mb-0 ls-normal" style="background-color: white;">
                                            Personal Information</h4>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6 mb-6">
                                        <div class="ecommerce-address billing-address pr-lg-8">
                                            <h4 class="title title-underline ls-25 font-weight-bold"></h4>
                                            <address class="mb-8">
                                                <table class="address-table">
                                                    <tbody>
                                                        <tr>
                                                            <th>Company Owner:</th>
                                                            <td>{{customer.companyownername}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Phoneno:</th>
                                                            <td>{{customer.Phoneno}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Company Name:</th>
                                                            <td>{{customer.companyname}}</td>
                                                        </tr>

                                                        <tr>
                                                            <th>Businesspancard No:</th>
                                                            <td>{{customer.businesspancardno}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>GST Certificate No:</th>
                                                            <td>{{customer.Gstcertificate}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Type Of Business:</th>
                                                            <td>{{customer.typeofbusiness}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </address>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mb-6">
                                        <div class="ecommerce-address shipping-address pr-lg-8">
                                            <h4 class="title title-underline ls-25 font-weight-bold"></h4>
                                            <address>
                                                <table class="address-table">
                                                    <tbody>
                                                        <tr>
                                                            <th>Udyam Registration Certificate :</th>
                                                            <td>
                                                                <img src="https://demo22.appman.in/{{customer.passbookicon[0].udyamregistrationcertificate[0].filename}}"
                                                                    alt="user-img" class="avatar-xl rounded-sqare mb-1">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Current Account Number:</th>
                                                            <td>{{customer.currentaccountno}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Ifsc code:</th>
                                                            <td>{{customer.IFsc}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Cancellation Cheque:</th>
                                                            <td>
                                                                <img src="https://demo22.appman.in/{{customer.passbookicon[0].passbookicon[0].filename}}"
                                                                    alt="user-img" class="avatar-xl rounded-sqare mb-1">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </address>
                                        </div>
                                    </div>
                                </div>
                                <a href="editprofile/{{customer._id}}"
                                    class="btn btn-link btn-danger btn-sm text-light">Edit
                                    your profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of PageContent -->
        </main>
        <!-- End of Main -->


        <!-- End of Footer -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Start of Sticky Footer -->

    <!-- End of Sticky Footer -->

    <!-- Start of Scroll Top -->
    <a id="scroll-top" class="scroll-top" href="#top" title="Top" role="button"> <i class="w-icon-angle-up"></i> <svg
            version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70">
            <circle id="progress-indicator" fill="transparent" stroke="#000000" stroke-miterlimit="10" cx="35" cy="35"
                r="34" style="stroke-dasharray: 16.4198, 400;"></circle>
        </svg> </a>
    <!-- End of Scroll Top -->

</body>